<!DOCTYPE html>
<html>
<head>
  <title>Tabber</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
  <div id="menu-wrapper">
    <div id="menu" class="container">
      <ul>
        <li class="<%= "current_page_item" if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
        <li class="<%= "current_page_item" if current_page?(about_me_path) %>"><%= link_to "About project", about_me_path %></li>
        <li class="<%= "current_page_item" if current_page?(activity_logging_path) %>"><%= link_to "What you log", activity_logging_path %></li>
        <li class="<%= "current_page_item" if current_page?(we_help_path) %>"><%= link_to "How we help", we_help_path %></li>
        <li class="<%= "current_page_item" if current_page?(actual_state_path) %>"><%= link_to "Actual state", actual_state_path %></li>
        <li class="<%= "current_page_item" if current_page?(installation_path) %>"><%= link_to "Install", installation_path %></li>
        <li class="<%= "current_page_item" if current_page?(security_path) %>"><%= link_to "Activity", activity_show_path %></li>
      </ul>
    </div>
    <!-- end #menu -->
  </div>
  <div id="header-wrapper">
    <div id="header" class="container">
      <div id="logo">
        <h1><a href="#">Tabber</a></h1>

        <p>Helps you search what you exactly want to</p>
      </div>
    </div>
  </div>
  <%= yield %>

</div>

<div id="copyright" class="container">
  <p>Copyright (c) 2014 Lubomir Vnenk | Design by
    <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>. | Give
    feedback at lubomir.vnenk@zoho.com </p>
</div>

</body>
</html>
